.navbar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--mantine-primary-color-filled);
}

/* .navbarHeader {
    padding: var(--mantine-spacing-md);
} */

.navbarMain {
    flex: 1;
}

.header {
    padding: var(--mantine-spacing-xl) var(--mantine-spacing-md);
}

.footer {
    padding-top: var(--mantine-spacing-md);
    margin-top: var(--mantine-spacing-md);
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-xs);
    color: var(--mantine-color-white);
    padding: var(--mantine-spacing-md) var(--mantine-spacing-lg);
    /* border-radius: var(--mantine-radius-sm); */

    @mixin hover {
        background-color: var(--mantine-primary-color-8);
        color: var(--mantine-color-white);

        .linkIcon {
            color: var(--mantine-color-white);
        }
    }

    &[data-active] {
        &,
        &:hover {
            background-color: #061c44;
            color: var(--mantine-color-white);

            .linkIcon {
                color: var(--mantine-color-white);
            }
        }
    }
}

.linkIcon {
    color: var(--mantine-color-primary-1);
    margin-right: var(--mantine-spacing-sm);
}
